// font
$fontDefault: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', helvetica, 'Apple SD Gothic Neo', sans-serif;
$fontNoto: 'Noto Sans KR', sans-serif;
$fontCairo: 'Cairo', sans-serif;

// color
$colorNavy :#001537;